<ng-container *ngIf="loading; else content">
  <div class="center">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-container>

<ng-template #content>
  <section *ngIf="!client" class="create-client">
    <mat-card>
      <mat-card-title>Crear Cliente</mat-card-title>
      <mat-card-content>
        <form [formGroup]="clientForm" (ngSubmit)="createClient()">
          <div class="row">
            <mat-form-field appearance="outline"
              ><mat-label>Nombre</mat-label
              ><input matInput formControlName="name"
            /></mat-form-field>
            <mat-form-field appearance="outline"
              ><mat-label>Correo</mat-label
              ><input matInput formControlName="email"
            /></mat-form-field>
            <mat-form-field appearance="outline"
              ><mat-label>Teléfono</mat-label
              ><input matInput formControlName="phone"
            /></mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline"
              ><mat-label>Saldo Inicial (COP)</mat-label
              ><input type="number" matInput formControlName="initialBalance"
            /></mat-form-field>
            <mat-form-field appearance="outline"
              ><mat-label>Notificación</mat-label>
              <mat-select formControlName="preferredNotification">
                <mat-option value="EMAIL">EMAIL</mat-option>
                <mat-option value="SMS">SMS</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="clientForm.invalid"
          >
            Crear
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </section>

  <section class="funds-grid">
    <mat-card *ngFor="let f of funds">
      <mat-card-title>{{ f.name }}</mat-card-title>
      <mat-card-subtitle
        >Mínimo: {{ f.minimumAmount | currency : "COP" }}</mat-card-subtitle
      >
      <mat-card-content>Categoría: {{ f.category }}</mat-card-content>
      <mat-card-actions>
        <button
          mat-flat-button
          color="primary"
          (click)="openSubscribe(f)"
          [disabled]="!client"
          *ngIf="!isSubscribed(f)"
        >
          Suscribirse
        </button>
        <button
          mat-flat-button
          color="warn"
          (click)="cancel(f.id)"
          [disabled]="!client"
          *ngIf="isSubscribed(f)"
        >
          Cancelar
        </button>
      </mat-card-actions>
    </mat-card>
  </section>

  <section *ngIf="client" class="client-info">
    <mat-card>
      <mat-card-title>Cliente</mat-card-title>
      <mat-card-content>
        <p>
          <b>{{ client.name }}</b> — Saldo:
          {{ client.availableBalance | currency : "COP" }}
        </p>
        <p>Notificación: {{ client.preferredNotification }}</p>
      </mat-card-content>
    </mat-card>
  </section>

  <!-- Dialog simple inline -->
  <mat-card *ngIf="selectedFund" class="subscribe">
    <mat-card-title>Suscripción: {{ selectedFund.name }}</mat-card-title>
    <mat-card-content>
      <form [formGroup]="subForm" (ngSubmit)="confirmSubscribe()">
        <mat-form-field appearance="outline" class="w-300">
          <mat-label
            >Monto (>=
            {{ selectedFund.minimumAmount | currency : "COP" }})</mat-label
          >
          <input type="number" matInput formControlName="amount" />
          <mat-error *ngIf="subForm.get('amount')?.hasError('min')"
            >El monto debe ser ≥ al mínimo</mat-error
          >
          <mat-error *ngIf="subForm.get('amount')?.hasError('required')"
            >El monto es requerido</mat-error
          >
        </mat-form-field>
        <div>
          <button
            mat-stroked-button
            type="button"
            (click)="selectedFund = null"
          >
            Cancelar
          </button>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="subForm.invalid"
          >
            Confirmar
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</ng-template>