<mat-card *ngIf="!data.length">
  <mat-card-content
    >No history found (select a client and perform
    operations).</mat-card-content
  >
</mat-card>

<table
  mat-table
  [dataSource]="data"
  class="mat-elevation-z1"
  *ngIf="data.length"
>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let t">{{ t.date | date : "short" }}</td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let t">{{ t.type }}</td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let t">{{ t.status }}</td>
  </ng-container>
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Amount</th>
    <td mat-cell *matCellDef="let t">{{ t.amount | currency : "COP" }}</td>
  </ng-container>
  <ng-container matColumnDef="message">
    <th mat-header-cell *matHeaderCellDef>Message</th>
    <td mat-cell *matCellDef="let t">{{ t.message }}</td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="['date', 'type', 'status', 'amount', 'message']"
  ></tr>
  <tr
    mat-row
    *matRowDef="
      let row;
      columns: ['date', 'type', 'status', 'amount', 'message']
    "
  ></tr>
</table>
